div {
    height: 50px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
    border-radius: 5px;
   }
   div:nth-child(4n+1){
       background-color: yellow;
   }
   div:nth-child(4n+2){
       background-color: brown;
   }
   div:nth-child(4n+3){
       background-color: blue;
   }
   div:nth-child(4n+4){
       background-color: green;
   }
