header {
    text-align: center;
}
main {
    margin: 20px;
}
li,
p {
    font-size: 20px;
}
input {
    margin: 10px;
    height: 20px;
    width: 240px;
    padding: 2px;
}
input,
textarea {
    outline: none;
}
a:hover{
    color: aqua;
}
a:visited{
    color: chartreuse;
}
span{
    color: darkmagenta;
    font-size: 30px;
}
h2 + p{
    color: orange;
}
input:hover{
    color: lightcoral;
}
input:focus{
    color: lightseagreen;
}