$bgcolor: rgb(134, 137, 167);
$bgcolorbody: rgb(210, 221, 210);
$textcolor: rgb(219, 139, 139);
$headercolor:white;
$fontsize:25px;
$fontsizesmall:8px;
$marginsizesmall:0;
$paddingsizesmall:0;
$box-size: border-box;
$fontfamilysyle: arial, Helvetica, sans-serif;


*{
    margin: $marginsizesmall;
    padding: $paddingsizesmall;
    box-sizing: $box-size;
   
}

header{
    height: 10rem; 
    width: 100%;
    background-color: rgba(0, 0, 255, 0.356);
    text-align: center;
    padding-top: 3.25rem;
    h1{
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(255, 255, 255);

    }
}
nav{
    border-bottom: .1rem solid rgba(128, 128, 128, 0.808);
    ul {
        display: flex;
        justify-content: center;
        li {
            list-style: none;
            padding: 1rem;
            a {
                text-decoration: none;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 1rem;
                a:link {
                    color: grey;
                    a:visited {
                        color: rgba(128, 0, 128, 0.877);
                        a:hover {
                            transform: scale(1.1);
                        }
                    }
                }
                
            }
        }
    }

}
body{
    background-color: $bgcolorbody;
    h2{
        font-size: $fontsize;
        color: $textcolor;
     }
}
main{
    padding: 2rem;
    flex-flow: column nowrap;
    .main-text, aside {
        width: 100%;
        h2 {
            font-family: Arial, Helvetica, sans-serif;
            margin-bottom: 1rem;
            p {
                margin: 0.5rem;
            }
        }
    }
    aside {
        border: .1rem solid rgba(128, 128, 128, 0.808);
        padding: .5rem;
    }

section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    img {
        border: .1rem solid rgba(128, 128, 128, 0.808);
        margin: 1rem;
        height: 20rem;
    }
    
}

}

footer {
    padding: .5rem;
    background-color: rgba(128, 128, 128, 0.288);
    margin-top: 1rem;
    border-top: .1rem solid rgba(128, 128, 128, 0.808);
}